header.navbar
{
  height: 150px;
  background: rgba(255, 255, 255, 0.85);

  .navbar-toggle {
    margin-top: 56px;
  }
}

#block-logotip{
  line-height: 150px;
}

#block-drupalbook-main-menu{
  line-height: 150px;
  ul {
    @media #{$tablet}{
      height: 150px;
      line-height: 150px;
      text-align: right;
      float: right;
    }
    li {
      @media #{$tablet}{
        line-height: 150px;
        float: none;
        display: inline-block;
      }
      a {
        color: #050622;
        font-size: 14px;
        font-family: 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;
        padding: 15px;
        &:hover {
          color: #050622;
          border: 2px solid #050622;
          padding: 13px;
        }
      }
    }
  }
}

.region-navigation{
  float: left;
}

#navbar-collapse {
  @media #{$mobile}{
    background: rbga(255, 255, 255, 0.85);
  }

  #block-drupalbook-main-menu {
    @media #{$tablet}{
      float: none;
    }
  }
}

